-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'DELIVERING', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ImportShipmentStatus" AS ENUM ('DRAFT', 'PAID', 'IN_TRANSIT', 'ARRIVED_GH', 'COMPLETED');

-- CreateEnum
CREATE TYPE "ImportSourceApp" AS ENUM ('ALIBABA', 'APP_1688', 'TAOBAO', 'WECHAT', 'OTHER');

-- CreateEnum
CREATE TYPE "ShippingMode" AS ENUM ('AIR', 'SEA');

-- CreateEnum
CREATE TYPE "PaymentMethod" AS ENUM ('CASH', 'BANK_TRANSFER', 'MOMO', 'ONLINE_CARD', 'OTHER');

-- CreateEnum
CREATE TYPE "ImportCostType" AS ENUM ('SUPPLIER', 'INTERNATIONAL_SHIPPING', 'CLEARING_FEES', 'FREIGHT_FORWARDER_FEES', 'LOCAL_TRANSPORT', 'OTHER');

-- CreateEnum
CREATE TYPE "InventoryMovementType" AS ENUM ('SALE', 'ADMIN_ADJUSTMENT', 'RESTOCK', 'IMPORT_ALLOCATION', 'RETURN', 'DAMAGE');

-- CreateTable
CREATE TABLE "Order" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "reference" TEXT,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "smsSent" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "adminNotes" TEXT,
    "deliveryFee" INTEGER,
    "completedSmsSent" BOOLEAN NOT NULL DEFAULT false,
    "deliverySmsSent" BOOLEAN NOT NULL DEFAULT false,
    "stockReduced" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderItem" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "unitPrice" DOUBLE PRECISION NOT NULL,
    "totalPrice" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImportShipment" (
    "id" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "supplierName" TEXT NOT NULL,
    "sourceApp" "ImportSourceApp" NOT NULL,
    "sourceAppOther" TEXT,
    "freightForwarderName" TEXT NOT NULL,
    "shippingMode" "ShippingMode" NOT NULL,
    "supplierTrackingId" TEXT,
    "supplierTrackingNotes" TEXT,
    "paymentFinalizedDate" TIMESTAMP(3),
    "currency" TEXT NOT NULL,
    "exchangeRateSnapshot" DECIMAL(65,30) NOT NULL,
    "status" "ImportShipmentStatus" NOT NULL DEFAULT 'DRAFT',
    "forwarderReceivedConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "forwarderReceivedDate" TIMESTAMP(3),
    "forwarderReceivedNotes" TEXT,
    "supplierDeclaredCbm" DECIMAL(65,30),
    "forwarderMeasuredCbm" DECIMAL(65,30),
    "agreedCbm" DECIMAL(65,30),
    "cbmDiscrepancyFlag" BOOLEAN NOT NULL DEFAULT false,
    "cbmConfirmedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ImportShipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImportCost" (
    "id" TEXT NOT NULL,
    "shipmentId" TEXT NOT NULL,
    "costType" "ImportCostType" NOT NULL,
    "description" TEXT,
    "amountGhs" DECIMAL(65,30) NOT NULL,
    "paymentMethod" "PaymentMethod" NOT NULL,
    "paymentDate" TIMESTAMP(3),
    "receiptUrl" TEXT,
    "isPaid" BOOLEAN NOT NULL DEFAULT false,
    "cashApproved" BOOLEAN NOT NULL DEFAULT false,
    "cashApprovedAt" TIMESTAMP(3),
    "cashNotes" TEXT,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ImportCost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "sku" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "retailPrice" DOUBLE PRECISION NOT NULL,
    "wholesalePrice" DOUBLE PRECISION,
    "distributorPrice" DOUBLE PRECISION,
    "stockQty" INTEGER NOT NULL DEFAULT 0,
    "lowStockThreshold" INTEGER NOT NULL DEFAULT 3,
    "categorySlug" TEXT NOT NULL,
    "levelSlugs" TEXT[],
    "imageSrc" TEXT NOT NULL,
    "imageAlt" TEXT NOT NULL,
    "imageTitle" TEXT,
    "imageCaption" TEXT,
    "imageDescription" TEXT,
    "focusKeyphrase" TEXT,
    "metaTitle" TEXT,
    "metaDescription" TEXT,
    "socialTitle" TEXT,
    "socialDescription" TEXT,
    "shortSummary" TEXT,
    "fullDescription" TEXT,
    "brand" TEXT,
    "tags" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryMovement" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "type" "InventoryMovementType" NOT NULL,
    "quantity" INTEGER NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "orderId" TEXT,

    CONSTRAINT "InventoryMovement_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Order_orderId_key" ON "Order"("orderId");

-- CreateIndex
CREATE UNIQUE INDEX "Order_reference_key" ON "Order"("reference");

-- CreateIndex
CREATE INDEX "Order_orderId_idx" ON "Order"("orderId");

-- CreateIndex
CREATE INDEX "Order_reference_idx" ON "Order"("reference");

-- CreateIndex
CREATE INDEX "OrderItem_orderId_idx" ON "OrderItem"("orderId");

-- CreateIndex
CREATE INDEX "OrderItem_productId_idx" ON "OrderItem"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "Product_sku_key" ON "Product"("sku");

-- CreateIndex
CREATE UNIQUE INDEX "Product_slug_key" ON "Product"("slug");

-- CreateIndex
CREATE INDEX "InventoryMovement_productId_idx" ON "InventoryMovement"("productId");

-- CreateIndex
CREATE INDEX "InventoryMovement_orderId_idx" ON "InventoryMovement"("orderId");

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ImportCost" ADD CONSTRAINT "ImportCost_shipmentId_fkey" FOREIGN KEY ("shipmentId") REFERENCES "ImportShipment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryMovement" ADD CONSTRAINT "InventoryMovement_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryMovement" ADD CONSTRAINT "InventoryMovement_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

